body {
  font-family: 'Montserrat', sans-serif;
}

.container {
  margin: 7px;
  min-width: 98vw;
  min-height: 98vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.heading {
  margin: 5px;
  width: 100%;
  text-align: center;
}

@media only screen and (max-width: 720px) {
  .container {
    margin: 3px;
  }

  .product-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin-right: 0px;
    margin-bottom: 10px;
    min-height: 150px;
    min-width: 80vw;
  }


  img {
    width: 100px;
    height: 100px;
  }
}

@media only screen and (min-width: 721px) {
  .product-card {
    min-height: 400px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  img {
    margin: 20px;
    width: 70%;
    height: 90%;
  }
}

.product-card {

  overflow: hidden;
  margin-right: 10px;
  margin-bottom: 30px;
  -webkit-box-shadow: 10px 10px 17px 0px rgba(0, 0, 0, 0.28);
  -moz-box-shadow: 10px 10px 17px 0px rgba(0, 0, 0, 0.28);
  box-shadow: 10px 10px 17px 0px rgba(0, 0, 0, 0.28);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: #2274a5;
}

.product-image-container {
  margin: 10px;
  display: inline-block;
  text-align: center;
  height: 75%;
  width: 100%;
}

.product-title-container {
  height: 25%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}